{% extends 'store/layouts/main.html' %}



{% block content %}

{% include 'store/inc/breadcrump.html' %}

<style>
    .product-img {
    width: 100%;
    height: 180px;         /* choose any fixed height */
    object-fit: contain;     /* crops image nicely */
    border-radius: 8px;    /* optional, makes it look modern */
}
a{
    text-decoration: none;
}
</style>

<div class="container mt-4 mb-4 h-75">
     
    <div class="row">
       {% for item in products %}

        <div class="col-3">

        <a href= "{% url 'productview' item.category.slug  item.slug  %}">
           
            <div class="card">
                <div class="card-title" style="background-color: rgba(235, 235, 231, 0.87);height: 30px;margin-top: -3px;">

                  <p style="color: rgb(4, 38, 100); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: 400; padding:5px;font-size: larger;">In stock</p>
             
                </div>
                
                
                <div class="card-body">
                    <img src="{{item.product_image.url}}" class="product-img" >
                    <h6 class="text-left py-1 " >{{item.name}}</h6>
                    <p style="font-weight: 500;" class="text-muted">{{item.author}}</p>
                    
                      <span style="font-size: 20px;color: rgba(0, 0, 0, 0.916);font-weight: 700;">Rs : {{item.selling_price}}</span>  <span style="font-size: 14px;color: rgba(0, 0, 0, 0.561);">M.R.P : <s> {{item.original_price}} </s>  </span> </span>
                     
                      
                  
  
                  </div>
                        
                </div>

            </a>
            </div>
       
            
       

      {% endfor %}

    </div>
    
    </div>

</div>

{% endblock %}