{% extends 'store/layouts/main.html' %}



{% block content %}

{% include 'store/inc/breadcrump.html' %}

<style>
    .product-img {
    width: 100%;
    height: 180px;         /* choose any fixed height */
    object-fit: contain;     /* crops image nicely */
    border-radius: 8px;    /* optional, makes it look modern */
}
</style>

<div class="container mt-4 mb-4 h-75">
     
    <div class="row">
       {% for item in products %}

        <div class="col-3">

        <a href= "{% url 'productview' item.category.slug  item.slug  %}">
           
            <div class="card">
                <div class="card-title">
                 <img src="{{item.product_image.url}}" class="product-img" >
                 <h6 class="text-left p-2 " >{{item.name}}</h6>
                </div>
                
                
                <div class="card-body">
                    
                      <span style="font-size: 20px;color: rgba(0, 0, 0, 0.916);font-weight: 700;">Rs : {{item.selling_price}}</span>  <span style="font-size: 14px;color: rgba(0, 0, 0, 0.561);">M.R.P : <s> {{item.original_price}} </s>  </span> </span>
                      <button class="btn btn-warning  rounded-pill">Add to cart</button>
                      
                  
  
                  </div>
                        
                </div>

            </a>
            </div>
       
            
       

      {% endfor %}

    </div>
    
    </div>

</div>

{% endblock %}