


{% extends 'store/layouts/main.html' %}
{% load static %}



{% block content%}

<style>

.product_qty,.decrement-button,.increment-button{

 width: 40px !important;
 text-align: center;
 
 border: 1px solid rgb(95, 95, 95) !important;
 font-size: 14px !important;
 font-weight: 600 !important;
 

}

.decrement-button,.increment-button{
    background-color: rgba(1, 17, 12, 0.877) !important;
    color: aliceblue !important;

}

.remove-item{
    width: 120px;
    background-color: rgba(151, 8, 8, 0.918);
    border-radius: 5px;
    
    border: 1px solid rgb(41, 27, 27);
    color: rgba(248, 248, 248, 0.822);
    font-weight: 600;
    font-size: 14px;

}

</style>

<div class="container mt-5 mb-5 w-50">

  
    {% if cart_items|length == 0  %}

    <div class="container">
     
        <div class="d-flex just justify-content-center align-items-center">
            <img src="{% static 'images/empty_cart.jpg' %}" style="width: 300px; height: 300px;" alt="cart image">
            <h5 class="text-center" style="color: rgb(74, 73, 73);margin-top: 50px;" > Your Cart is empty   ! <br> Please  add items to your cart! </h5>
        </div>

        </div>
       

    {% else %}
  
  <div class="container" style="padding: 80px; border: 1px solid rgb(172, 172, 175); background-color: rgba(204, 203, 202, 0.055);border-radius: 10px;">

     <p style="font-size: 25px;">Books in Cart</p>

    {% for item in cart_items  %}


    <div class="card cartdata">
 
 
     <div class="row p-2">
 
 
         <div class="col-md-3">
             <img src="{{item.product.product_image.url}}" alt="" style="width: 150px;height: 200px;">
         </div>
 
         <div class="col-md-6">
            
             <h5>{{item.product.name}}</h5>
             <p>{{item.product.author}}</p>
             {% if item.product.quantity > 0 %}
              <label for="" style="color: green;">In stock</label>
 
              {% else %}
 
              <label for="" color="red"> Out of stock </label>
 
              {% endif %}
              <p>FREE delivery Available</p>
              <input type="checkbox">
              <label for="">Wrap in Giftbox</label>
    
              <div class="input-group mt-2">

                <!-- each cart item has a quantity-control section with increment and decrement buttons and an 
                input field showing the current quantity. The change-quantity class is applied to both increment and decrement buttons,
                so the same JavaScript function can handle them. -->
                <!-- This setup will allow the same JavaScript logic to handle both the product detail view and the cart view, 
                making code more modular and reusable. -->
               
                 <input type="hidden" value="{{item.product.id}}" class="prod-id">
                 {% csrf_token %}
                 <button class="change-quantity decrement-button">-</button>
                 <input type="text" max="{{item.product.quantity}}"  value="{{ item.product_qty }}" class="product_qty">
                 <button class="change-quantity increment-button">+</button>
 
              </div>
            
 
 
         </div>
 
         <div class="col-md-3 mt-2 remove">
             <input type="hidden" value="{{item.product.id}}" class="prod-id">
             <div class="d-flex flex-column justify-content-between h-100 ">
             <h5 class="float-end d-inline-block">Rs : {{ item.product.selling_price }}</h5>
             <button class="remove-item" >Remove</button>
         </div>
             
         </div>
     </div>
    </div>
    <hr>
 
    {% endfor %}


  </div>
  

   {% endif %}


</div>


{% endblock %}