{% extends 'store/layouts/main.html'%}


{% block content %}


<style>
    .place-order,.paywithrazorpay{
        background-color: black;
        color: aliceblue;
        border-radius: 0%;
    }
</style>


<div class="container mt-4">

    <form action="{% url 'placeorder' %}" method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-7">

                <div class="card mt-5 mb-5">

                    <dv class="card-title p-2 text-center">
                        <h5>Basic Details</h5>
                        <hr>
                    </dv>

                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-6">
                                <label for="">First Name</label>
                                <input type="text" placeholder="enter first name" class="form-control" required name="firstname" value="{{request.user.first_name}}" >

                            </div>
                            <div class="col-md-6">
                                <label for="">Last Name</label>


                                <input type="text" placeholder="enter last name" class="form-control" required name="lastname" value="{{request.user.last_name}}"  >

                            </div>
                            <div class="col-md-6">
                                <label for="">e-mail</label>
                                <input type="email" placeholder="enter email name" class="form-control" required name="email" value="{{request.user.email}}" >

                            </div>
                            <div class="col-md-6">
                                <label for="">Phone</label>
                                <input type="text" placeholder="enter phone number" class="form-control" required name="Phone" value="{{userprofile.phone}}" >

                            </div>

                            <div class="col-md-12">
                                <label for="">Address</label>
                                <textarea type="text" placeholder="enter first Address" class="form-control" required name="Address"  >{{userprofile.address}}</textarea>

                            </div>
                            <div class="col-md-6">
                                <label for="">City</label>
                                <input type="text" placeholder="enter city" class="form-control" required name="City" value="{{userprofile.state}}" >

                            </div>
                            <div class="col-md-6">
                                <label for="">State</label>
                                <input type="text" placeholder="enter state" class="form-control" required name="State" value="{{userprofile.state}}" >

                            </div>
                            <div class="col-md-6">
                                <label for="">Country</label>
                                <input type="text" placeholder="enter country" class="form-control" required name="Country" value="{{userprofile.country}}" >

                            </div>
                            <div class="col-md-6">
                                <label for="">PinCode</label>
                                <input type="text" placeholder="enter PinCode" class="form-control" required name="PinCode" value="{{userprofile.pincode}}" >

                            </div>


                        </div>

                    </div>
                </div>


            </div>

            <div class="col-md-5">

                <div class="card  mt-5 mb-5">

                    <div class="card-title p-2 text-center">
                        <h5> Order Summary </h5>
                        <hr>
                    </div>

                    <div class="card-body">
                        <table class="table table-stripped table-bordered">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart%}
                                <tr>
                                    <td>
                                        <img src="{{item.product.product_image.url}}" height="50px" width="50px" alt="">
                                    </td>
                                    <td>
                                        {{item.product.name}}
                                    </td>
                                    <td>
                                        {{item.product_qty}}
                                    </td>
                                    <td>
                                        {{item.product.selling_price}}
                                    </td>



                                </tr>

                                {% endfor %}

                            </tbody>
                        </table>

                        <h6 class="fw-bold">Total <span class="float-end" style="font-size: 20px;">
                                {{bill_amount}}</span></h6>
                                <input type="hidden" value="COD" name="payment_mode">
                        <button class="btn w-100 place-order" type="submit"> COD | Place Order</button>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-secondary paywithrazorpay w-100">Pay with Razorpay</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </form>

</div>

{% endblock %}


{% block script %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{% endblock script %}