
{% load static %}
<style>

  .glass-nav{
    background: rgba(236, 234, 234, 0.637);   /* transparent white */
  backdrop-filter: blur(10px);             /* glass blur */
  -webkit-backdrop-filter: blur(10px);     /* Safari support */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);

  }
  navbar .nav-link {
  color: #920c0c !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #e2e2e2 !important;
}

.brand{
 
  font-family: "Playwrite NO", "Aleo", serif;
  font-size: 30px;
  font-weight: 600;

}

.cart-count{
  color: rgb(255, 255, 255);
  text-decoration: none;

  padding: 3px;
  
  margin-top: -10px;
  position: absolute;
  margin-top: -2px;
  margin-left: -18px;
}

/* .navbar-brand {
  color: #fff !important;
  font-weight: 600;
} */

/* When using fixed-top, add padding to body */
body {
  padding-top: 70px;
}
</style>

<nav class="navbar navbar-expand-lg  glass-nav fixed-top mb-3">
    <div class="container-fluid" >
      <a class="navbar-brand brand" href="{% url 'home' %}" >Scriptorium</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: beige; font-weight: 700;" >The web framework for perfectionists with deadlines</span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'collections' %}" >Books</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href=""  >MysteryBox</a>
          </li>
          
          {% if request.user.is_authenticated  %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ request.user  }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href= "{% url 'logout' %}" >Log out</a></li>
            </ul>
          </li>
          {% else %}

          <li class="nav-item">
            <a class="nav-link" href= "{% url  'login'  %}" > Login </a>
          </li> 
         

          <li class="nav-item">
            <a href="{% url 'register' %} " class="nav-link">  Register  </a>
          </li>

          {% endif %}
     
        </ul>
        <form class="d-flex search-form me-3" role="search">
          <div class="search-wrapper">
            <input class="form-control search-input rounded-input"
                   type="search"
                   placeholder="Search Books, Authors and more"
                   aria-label="Search" />
            <i class="bi bi-search search-icon"></i>

          </div>
          <a href="{% url 'cart' %}"><i class="bi bi-cart-fill" style="font-size: 30px; color: rgb(10, 9, 9);"></i> <span class="cart-count">2</span></a>
          <i class="bi bi-person-add" style="font-size: 27px; color: rgb(10, 9, 9);"></i>
        </form>
      </div>
    </div>
  </nav>