<style>

.card-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

label .trending-label {
    background-color: rgb(19, 18, 16) !important;
    color: rgb(253, 253, 253)  !important;;
    border-radius: 5px;
    padding: 2px 6px;
  
}
.bi-star{
    color: coral;
}
.add-to-cart-link{
    color: brown;
    font-size: larger;
    text-decoration: none !important;
    font-weight: 600;
}

.info-section{
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
}
</style>

<h3 class="text-center mt-5" style="font-family: 'Oxygen', sans-serif;">Trending Books</h3>
<hr style="width: 5%; margin: 20px auto;">

<div class="container">
    <div class="row">
        {% for item in data%}
        <div class="col-md-3">
           
            <div class="card d-flex flex-column justify-content-center align-items-center h-100 w-75">
                <div class="card-title">
                    <label for="" class="trending-label mt-2"  style="background-color: black;color: beige;padding: 5px;font-family: 'Nunito', sans-serif;font-size: 12px;">Trending</label>
                </div>
                <div class="card-body">

                  <img src=" {{item.product_image.url}}" alt="" width="150px" height="200px" >  
                  <h6>{{item.name}} </h6>
                  <p>{{item.author}}</p>
                  <s>RS {{item.original_price}}</s>  <span style="font-weight: 500;">{{item.selling_price}}</span>
                  <p style="font-size: small;font-weight: 600;color: rgb(50, 49, 49);">paperback</p>

                </div>
               <div class="card-footer d-flex justify-content-between align-items-center w-100">
                <a href="" class="add-to-cart-link">Add to cart</a>
                <div class="stars d-flex">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>

                 
                 
                </div>
               </div>
            </div>

        </div>
        {% endfor %}
    </div>

    <div class="info-section">
        <h4 class="text-left mt-5 " >Why should we read more?.</h4>
        <hr>
        <p class="text-left">Books are the single biggest reason Homo sapiens became the most advanced species on Earth.
            They amplified our memory, intelligence, empathy, knowledge, and cooperation.Reading doesn’t just give you information — it shapes your personality.
            It improves your mind, your emotions, your confidence, and your worldview.instead of overthinking or doom-scrolling, reading gives a healthy escape:
            
            <li>you enter a story </li>

            <li>you feel inspired </li>
            
            <li>your mind resets </li>
            
            It’s a positive break that heals the mind. </p>
    </div>
</div>

